<header>
    <div class="ui container text-normal">
        <span class="site-title-header">
                <a href="https://nicholasgriffin.dev">
            Nicholas Griffin
        </a>
        </span>
        <div class="site-links-header">
            <a href="https://nicholasgriffin.dev">
                Home
            </a>
        </div>
    </div>
</header>