
</div> <!-- End App-->
</div> <!-- End Root -->
<link href="/static/css/main.15f091f2.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

<script>
    // Check for Promises and fetch
    window.Promise || document.write('<script src="static/js/es6-promise.min.js" ><\/script>');
    window.fetch || document.write('<script src="static/js/fetch.min.js"><\/script>');
</script>

<script type="text/javascript">
    window.addEventListener("DOMContentLoaded", function (event) {
        // Load the service worker
        if ('serviceWorker' in navigator) {

            navigator.serviceWorker.register('/serviceworker.js', { scope: '/'}) 

            .then( function( registration) {
                console.log(`Service Worker successfully registered for`, registration.scope);
            } )

            .catch( function( error ) {
                console.log(`ServiceWorker not registered: ${error}`);
            } );

            if(navigator.serviceWorker.controller) {
                window.addEventListener('load', function() {
                    navigator.serviceWorker.controller.postMessage({'command': 'trimCaches'});
                })
            }
        }
    });
</script>

<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NK46QBJ" height="0" width="0"
        style="display:none;visibility:hidden"></iframe>
</noscript>

</body>

</html>