<% include ./partials/head.ejs %>

<% include ./partials/header.ejs %>

<% if(posts && posts != ''){ %>
<% for(let i = 0; i < posts.length; i++) { %>
  <style>
      .single-page .App-header {
        height: auto !important;
        padding-top: 0 !important;
        position: relative;
    }
      .single-page .App-content {
        top: 0 !important;
        padding: 1rem;
        text-align: left;
        min-height: 150px;
        width: calc(100% - 2rem);
    }
    img.post-image {
    width: 100%;
    height: auto;
}
.post-content-wrap {
  max-width: 780px;
  width: 100%;
  margin: auto;
}
    
  </style>
<div class="single-page">
  <div class="App-header">
      <div id="background-parallax">
        <div class="background-colours">
          <div class="background" style="
          background-image: url('<%= posts[i].image %>');
          background-size: cover;
          background-position: top center;
      "></div>
        </div>
      </div>
    <div class="mid-box-background">
      <div class="title-wrapper">
        <h1 id="single-title" class="animated bounceInDown"><%= posts[i].title %></h1>
        <h2>
          <span class="date"><%= posts[i].date %></span>
          <div class="post-buttons-wrapper"></div>
        </h2>
      </div>
    </div>
  </div>
  <div class="App-content">
    <div class="ui container">
    <div class="post-content-wrap">
        <%- posts[i].body %>
    </div>
  </div>
  </div>
  <% } %>
  <% } else{ %>
  <div class="App-header">
    <div class="mid-box-background">
      <div class="title-wrapper">
        <h1 id="single-title" class="animated bounceInDown">
          Sorry, that post doesn't exist
        </h1>
        <div class="header-button-wrap">
          <a class="ui button white basic inverted" href="https://nicholasgriffin.dev">
            Go back to the homepage
          </a>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>

<% include ./partials/nm_footer.ejs %>
<link rel="stylesheet" href="/static/css/dracula.min.css" />
<script src="/static/js/highlight.min.js" ></script>
<script>hljs.initHighlightingOnLoad();</script>

<script>
window.onload = function() {
  if ("serviceWorker" in navigator) {
    const offlineButton = document.createElement("button");

    offlineButton.className = "button";

    caches.open("SavedPages").then(function(cache) {
      cache.match(window.location.href).then(function(result) {
        if (result) {
          document.querySelector(".post-buttons-wrapper").appendChild(offlineButton);
          offlineButton.innerText = "This page is ready for offline reading 👍🏻";
          offlineButton.setAttribute("disabled", "disabled");
        } else {
          document.querySelector(".post-buttons-wrapper").appendChild(offlineButton);
          offlineButton.innerText = "Save this page for offline reading";
        }
      });
    });

    caches.open("cachedPages").then(function(cache) {
      cache.match(window.location.href).then(function(result) {
        if (result) {
          document.querySelector(".post-buttons-wrapper").appendChild(offlineButton);
          offlineButton.innerText = "This page is ready for offline reading 👍🏻";
          offlineButton.setAttribute("disabled", "disabled");
        } else {
          document.querySelector(".post-buttons-wrapper").appendChild(offlineButton);
          offlineButton.innerText = "Save this page";
        }
      });
    });

    offlineButton.addEventListener("click", function(ev) {
      ev.preventDefault();

      var btn = this;

      btn.innerText = "Saving...";

      caches.open("SavedPages").then(function(cache) {
        cache.add(window.location.href).then(function() {
          const data = {
            title: document.querySelector("title").innerText
          };

          localStorage.setItem(window.location.href, JSON.stringify(data));

          btn.innerText = "This page is ready for offline reading 👍🏻";
          btn.setAttribute("disabled", "disabled");
        });
      });
    });
  }
};

</script>